@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

:root {
  --deemphasized: silver;
  --title-color: ghostwhite;
}

@media only screen and (max-width: 720px) {
  body {
    padding-top: 30%;
    padding-bottom:10%;
  }
}

@media only screen and (max-width: 400px) {
  body {
    padding-top: 50%;
    padding-bottom:10%;
  }
}

@media only screen and (max-width: 320px) {
  body {
    padding-top: 100%;
    padding-bottom:10%;
  }
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--deemphasized);
  background-color: black;
}

h1 {
  font-weight: 700;
  font-size: 4.5em;
  margin-bottom: 0.5em;
  text-align: center;
  color: var(--title-color); 
}

a {
  text-decoration: none;
  color: var(--deemphasized);
  outline: none;
  text-align: center;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

p {
  font-size: 1.6em;
  margin-bottom: 0.1em;
  text-align: center;
}

#landing-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 86vw;
  height: 92vh;
}

#me-emoji {
  animation-name: me-emoji-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 3;
  transform-origin: 70% 70%;
  display: inline-block;
  text-indent: 0 !important;
}

@keyframes me-emoji-animation {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.1);
  }

  30% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

#emphasis {
  font-weight: 500;
  border-bottom: 2px solid #3acce6;
}

#emphasis:hover {
  background-color: #206470;
  color: var(--title-color);
}

#socials {
  margin-top: 3em;
}

.fas,
.fab {
  font-size: 1.4em !important;
  color: #848484;
  margin-right: 1.5em;
  transition: color 0.3s ease;
}

.fas:hover,
.fab:hover {
  color: var(--title-color);
}

#hear-me-out {
  font-size: 1.1em;
  color: var(--deemphasized);
}

.byline {
  text-align: center;
  margin-top: 8em;
}